:root {
  color-scheme: light dark;
  background-color: #242424;
}

#cards {
  display: flex;
  flex-wrap: wrap;
}

#view_type_btn {
  margin-bottom: 20px;
  margin-left: 1240px;
  padding: 15px;
  border-radius: 5px;
}

button:hover{
  color: black;
  background-color: beige;
}

#heading{
  text-align: center;
}

a{
  text-decoration: none;
  color: inherit;
  margin-right: 30px;
}